.main_layout
  min-height: 100vh
  background: #f0efeb

  .main_layout__rightbar
    width: 240px
    position: fixed
    height: 100%
    top: 0
    display: flex
    flex-direction: column
    transition: .3s right
    z-index: 500

    .main_layout__rightbar_content
      position: relative
      padding: 0 16px
      height: calc(100% - 60px)
      overflow-y: scroll
      background: #f0efeb

      &:after
        position: absolute
        content: ''
        width: 1px
        height: 100%
        left: 0
        top: 0
        background: rgba(27, 27, 27, 0.3)

    .main_layout__rightbar_header
      height: 60px
      padding: 0 16px
      display: flex
      align-items: center
      background: #332e2a
      position: relative

      &:after
        position: absolute
        content: ''
        width: 1px
        height: 100%
        left: 0
        top: 0
        background: rgba(209, 209, 209, 0.30)

      .rightbar_title
        border-bottom: 1px solid rgba(209, 209, 209, 0.30)
        font-size: 12px
        color: #e0e0e0

  .rightbar_show
    right: 0

  .rightbar_hide
    right: -240px

  .sidebar_show
    left: 0

  .sidebar_hide
    left: -240px

  .main_layout__sidebar
    transition: .3s left
    width: 240px
    position: fixed
    height: 100%
    background: rgb(21, 115, 255)
    top: 0
    z-index: 500

    .main_layout__logo
      position: relative
      display: flex
      align-items: center
      height: 60px
      border-bottom: 1px solid rgba(0, 0, 0, 0.06)
      margin: 0 16px

      .anticon
        font-size: 19px
        margin-bottom: 0.5em
        color: white
        cursor: pointer

      h2
        color: white
        font-family: 'Zilla Slab', serif
        font-size: 30px
        margin-bottom: 0
        text-align: center
        width: 100%

    .main_layout__menu
      padding: 0 16px

      .main_layout__menu_item
        margin-top: 16px
        text-align: center

        a
          width: 100%
          color: white
          display: inline-block
          padding: 5px 10px
          font-family: 'Source Sans Pro', sans-serif
          font-size: 15px

        .menu_item_active
          background: white
          border-radius: 20px
          color: rgb(21, 115, 255)


  .main_layout__content
    transition: .3s all
    margin-left: 240px
    margin-right: 240px

  .without_sidebar
    margin-left: 0

  .without_help
    margin-right: 0

  @media screen and (max-width: 1000px)

    .sidebar_show
      box-shadow: 0 0 11px 4px rgba(0, 0, 0, 0.30)

    .main_layout__content
      margin-left: 0
      margin-right: 0

    .main_layout__content
      max-height: 100vh
      overflow: hidden

    .main_layout__content.without_sidebar.without_help
      overflow-y: auto
      max-height: none

    .main_layout__content
      .overlay
        position: fixed
        height: 100%
        width: 100%
        z-index: 400
        background: rgba(17, 17, 17, 0.50)
        overflow: hidden





