.badge
  font-family: 'Source Sans Pro', sans-serif
  font-size: 15px
  padding: 5px 10px
  border-radius: 20px
  text-align: center
  outline: none
  text-decoration: none
  border: none

.badge-blue
  background: rgb(21, 115, 255)
  color: white

.badge-white
  background: white
  color: rgb(21, 115, 255)