.card
  position: relative
  overflow: hidden
  height: 400px
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  margin-bottom: 16px
  border-radius: 20px

  .card_content
    position: relative
    height: 100%
    z-index: 200
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 16px

    .card_btn
      border-radius: 20px
      padding: 10px 0
      outline: none
      cursor: pointer
      background-color: #21D4FD
      background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%)
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75)
      border: none
      color: white
      width: 100%
      background-size: 120% 100%
      transition: all .4s ease-in-out
      &:hover
        background-position: 100% 0
        moz-transition: all .4s ease-in-out
        -o-transition: all .4s ease-in-out
        -webkit-transition: all .4s ease-in-out
        transition: all .4s ease-in-out


    .card_description
      margin-bottom: 20px
      color: #d9d9d9

  .tn_popover
    .tn_popover__content_wrapper
      padding: 20px 0

      &:after
        content: ''
        position: absolute
        left: 20px
        bottom: 0px
        border: 10px solid transparent
        border-top: 10px solid #ffffff

      &:before
        content: ''
        position: absolute
        left: 20px
        bottom: 0
        border: 10px solid transparent
        border-top: 10px solid #d6d6d6

    .tn_popover_button
      display: block


  .card_overlay
    background: rgba(0, 0, 0, 0.3)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 200