.header_mobile
  position: fixed
  bottom: 0
  left: 0
  backdrop-filter: saturate(180%) blur(20px)
  background-color: rgba(40, 40, 40, 0.5)
  height: 60px
  width: 100%
  z-index: 400
  padding: 0 9px
  .container, .row, .col-xs-4
    height: 100%
  .header_mobile_item
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    cursor: pointer
    background: rgba(0, 0, 0, 0)
    transition: .3s background
    &:hover
      background: rgba(0, 0, 0, 0.20)
    div
      font-size: 12px
      color: #e0e0e0
    .anticon
      font-size: 20px
      color: #e0e0e0
      margin-bottom: 3px