.help
  .help__card
    margin-top: 16px
    font-family: 'Source Sans Pro', sans-serif
    font-size: 16px
    text-align: left
    background: white
    padding: 16px
    border-radius: 15px

.rightbar_close
  padding: 5px 15px
  margin-top: 16px
  border-radius: 15px
  background: rgb(21, 115, 255)
  color: white
  border: none
  cursor: pointer
  outline: none
  &:hover
    background: rgb(20, 107, 238)



