.page_breadcrumb
  height: 57px
  display: flex
  align-items: center

  .item_menu_toggle
    margin-right: 20px

    &:hover
      background: #1461d5

    .anticon
      margin-top: 4px

  .page_breadcrumb__item
    font-family: 'Source Sans Pro', sans-serif
    font-size: 15px
    background: #cbcac6
    padding: 5px 10px
    text-align: center
    border-radius: 10px
    cursor: pointer

  .page_breadcrumb__divider
    font-family: 'Source Sans Pro', sans-serif
    font-size: 15px
    margin: 0 10px

  .item_blue
    background: rgb(21, 115, 255)
    color: white

@media screen and (max-width: 1000px)
  .page_breadcrumb__item, .page_breadcrumb__divider
    display: none
