.page_header
  transition: .3s width, .3s margin-right, .3s margin-left
  width: calc(100% - 240px * 2)
  height: 60px
  position: fixed
  top: 0
  left: 0
  padding: 0 20px
  background: #332e2a
  z-index: 300
  margin-left: 240px

  .page_header_wrapper
    max-width: 960px
    margin: 0 auto

  .container, .row, .page_header_wrapper
    height: 100%

  .page_header__wrapper
    height: 100%

  .page_header_items
    display: flex
    height: 100%
    width: 100%

    .header_item
      padding: 0 10px

  .page_header_items.items_right
    position: relative
    left: -16px
    justify-content: flex-start

  .page_header_items.items_left
    position: relative
    right: -26px
    justify-content: flex-end

  .header_item
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    cursor: pointer
    background: rgba(0, 0, 0, 0)
    transition: .3s background

    &:hover
      background: rgba(0, 0, 0, 0.20)

    div
      font-size: 12px
      color: #e0e0e0

    .anticon
      font-size: 20px
      color: #e0e0e0
      margin-bottom: 3px

.without_sidebar
  .page_header
    width: calc(100% - 240px)
    margin-right: 240px
    margin-left: 0

.without_help
  .page_header
    width: calc(100% - 240px)
    margin-right:
    margin-left: 240px

.without_sidebar.without_help
  .page_header
    width: calc(100%)
    margin-right: 0
    margin-left: 0

@media screen and (max-width: 420px)
  .page_header
    display: none