.panel
  height: 60px
  background: #332e2a

  .container, .row
    height: 100%

  .panel_items
    display: flex
    height: 100%
    width: 100%

    .panel_item
      padding: 0 10px

  .panel_items.items_left
    position: relative
    //left: -16px
    justify-content: flex-start

  .panel_item
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    cursor: pointer
    background: rgba(0, 0, 0, 0)
    transition: .3s background

    &:hover
      background: rgba(0, 0, 0, 0.20)

    div
      font-size: 12px
      color: #e0e0e0

    .anticon
      font-size: 20px
      color: #e0e0e0
      margin-bottom: 3px


@media screen and (max-width: 420px)
  .panel
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 300