.tn_popover
  position: relative

  .tn_popover__content_wrapper
    position: absolute
    width: 50%
    padding: 8px 0
    bottom: 36px
    display: none
    visibility: hidden

    &:after
      content: ''
      position: absolute
      left: 20px
      bottom: -10px
      border: 10px solid transparent
      border-top: 10px solid #ffffff

    &:before
      content: ''
      position: absolute
      left: 20px
      bottom: -11px
      border: 10px solid transparent
      border-top: 10px solid #d6d6d6

    .tn_popover__content
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.75)
      background: white
      width: 100%
      overflow: hidden
      border-radius: 5px

      .tn_popover__popover_item
        &:nth-child(2n+1)
          .popover-btn
            border-bottom: 1px solid #d6d6d6

      .popover-btn
        width: 100%
        padding: 10px 0
        cursor: pointer
        border: none
        outline: none
        color: #616161
        background: white
        font-weight: normal
        transition: .3s color

        &:hover
          color: rgb(21, 115, 255)


.tn_popover_show
  .tn_popover__content_wrapper
    animation-duration: .5s
    animation-name: rotate-up
    display: block
    visibility: visible


.tn_popover_hide
  .tn_popover__content_wrapper
    animation-duration: .5s
    animation-name: rotate-down
    display: block
    visibility: hidden


@keyframes rotate-down
  from
    bottom: 36px
    opacity: 1
    visibility: visible
  to
    bottom: 72px
    opacity: 0
    visibility: hidden

@keyframes rotate-up
  from
    bottom: 72px
    opacity: 0
  to
    bottom: 36px
    opacity: 1


@media screen and (max-width: 1000px)
  .tn_popover
    .tn_popover__content_wrapper
      width: 100%

    .tn_popover__content
      .tn_popover__popover_body
        .tn_popover__popover_item
          .popover-btn
            padding: 20px 0