.login_page
  background: #e9e9e9
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center

  .login-form
    background: white
    padding: 16px
    border-radius: 15px
    width: 300px
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25)

  .login-form-forgot
    float: right

  .login-form-button
    width: 100%

  .ant-form-item
    &:last-child
      margin-bottom: 0
