.main_page__popover_body
  .main_page__popover_item
    margin-bottom: 10px
    width: 100%

    button
      width: 100%

    &:last-child
      margin-bottom: 0

.main_page
  margin: 0 auto
  max-width: 960px

  .main_page__categories
    padding: 76px 16px 16px 16px

    .main_page__category
      .main_page__category_title
        margin-top: 26px

        .badge
          margin-right: 15px

      .image_container
        height: 325px
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        border-radius: 15px

        img
          height: 100%

    .main_page__category_description
      padding-top: 15px
      text-align: justify

    .row
      margin-right: -15px
      margin-left: -15px

@media screen and (max-width: 767px)
  .main_page
    .main_page__categories
      .main_page__category
        background: white
        margin-bottom: 20px
        border-radius: 15px
        border: 1px solid rgba(0, 0, 0, 0.12)
        overflow: hidden

        .image_container
          border-radius: 0

      .main_page__category_title
        padding: 0 10px

      .main_page__category_description
        padding: 20px 10px

@media screen and (max-width: 420px)
  .main_page
    .main_page__categories
      padding-top: 16px
      margin-bottom: 46px
