.patients_page
  max-width: 960px
  margin: 0 auto

  .patients_page__table
    background: #fff
    padding: 16px
    border-radius: 15px
    margin-top: 60px

@media screen and (max-width: 420px)
  .patients_page
    .patients_page__table
      margin-top: 0