.preparations-page
  max-width: 960px
  margin: 0 auto
  padding-top: 16px
  .preparations-page__forms
    background: #fff
    padding: 16px 0
    border-radius: 15px
    margin: 60px 16px 16px 16px


@media screen and (max-width: 420px)
  .preparations-page
    //margin-bottom: 60px
    .preparations-page__forms
      margin: 0 16px 16px 16px
