.upload_page
  max-width: 960px
  margin: 0 auto

  .upload_page__cropper_result
    overflow: hidden
    margin: 0 -8px

    img
      width: 100%

  .upload_page__cropper
    margin: 0 -8px

  .upload_page__from
    background: #fff
    padding-top: 60px

    .instruments
      padding: 16px 8px
    .file_name
      font-family: 'Source Sans Pro', sans-serif
      font-size: 20px
      margin-bottom: 0
      text-align: right


@media screen and (max-width: 420px)
  .upload_page
    .upload_page__from
      padding-top: 16px

