//fonts
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap')
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap')
//fonts
//pages
@import "Pages/Login"
@import "Pages/Patients"
@import "Pages/MainPage"
@import "Pages/ResultPage"
@import "Pages/PreparationsPage"
@import "Pages/RecomendationsPage"
@import "Pages/UploadPage"
@import "Pages/CalculationPage"
//pages
//components
@import "Components/Components"
@import "Loader"
//components
//layout
@import "Layout/MainLayout"
@import "Layout/MobileLayout"
//layout

@keyframes toTop
  from
    position: fixed
    left: -240px
  to
    position: fixed
    left: 0

.tn-icon
  width: 40px
  height: 40px
  border-radius: 50%
  color: white
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%)
  display: flex
  align-items: center
  justify-content: center

.ant-upload.ant-upload-drag .ant-upload
  padding: 16px 16px !important
